<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_DIR" value="./log/log.log" />
    <property name="CONSOLE_LOG_PATTERN"
        value="%t %d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class %M %L - %msg%n%ex" />
    <property name="FILE_LOG_PATTERN"
        value="$%t %d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class %M %L - %msg%n%ex" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <append>true</append>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="INFOLOG" class="ch.qos.logback.core.FileAppender">
        <append>true</append>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <file>${LOG_DIR}/info.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
        <!-- appender-ref ref="INFOLOG" / -->
        <!-- appender-ref ref="ERRORLOG" / -->
    </root>

</configuration>
